<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"&amp;gt;>
        <!--CSS-->
        <link rel="stylesheet" href="/css/style_programas_admin.css">
        <link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css">
        <!--Icons-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
        <!-- Extenciones Bootstrap-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
        <title>SENA-Gestor de Materiales</title>
    </head>
<header th:replace="layout/plantilla_admin :: header_admin"></header>
<body>
    <div class="container" id="info">
        <h1>Lista de personal CENIGRAF</h1>
        <button class="btn btn-secondary mb-3" data-toggle="collapse" data-target="#instructor">Agregar Persona <i class="bi bi-bookmark-plus"></i></button>
        <div id="instructor" class="collapse">
            <div class="row">
                <div class="col-md-6">
                    <h4>Complete todos los campos</h4>
                    <label>Documento:</label>
                    <input type="number" class="form-control" id="reg_instru_docu" placeholder="Ingresar documento">
                    <label>Nombre Completo:</label>
                    <input type="text" class="form-control" id="reg_instru_nomb" placeholder="Ingresar nombre">
                    <label>Cargo:</label>
                    <input type="text" class="form-control" id="reg_instru_carg" placeholder="Ingresar cargo">
                    
                    <input type="submit" class="btn btn-success mt-3 mb-3" value="Registrar" id="reg_personal">
                </div>
            </div>
        </div>
        <input class="form-control" id="buscador_inst" type="text" placeholder="Buscar instructor..">             
        <table class="table table-stripe" id="tabla_inst"> 
            <thead>
            <tr>
                <th>N° Documento</th>
                <th>Nombre</th>
                <th>Cargo</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody id="body_inst">
            </tbody>
        </table>
    </div>
    <div id="editari" class="modal fade" role="dialog">
        <div class="modal-dialog">
      
          <!-- Modal Programas-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <h3>Completar todos los campos</h3>
                <div class="container">
                    <form id="formulario_act_ins">
                        <label>Numero de documento</label>
                        <input type="number" id="edit_cedu_inst" class="form-control">
                        <label>Nombre</label>
                        <input type="text" id="edit_nomb_inst" class="form-control">
                        <label>Cargo</label>
                        <input type="text" id="edit_carg_inst" class="form-control">
                        <input type="hidden" id="edit_id_inst">

                        <input type="submit" id='cambios_inst' class="btn btn-success mt-3" value="Realizar cambios">
                    </form>
                </div>
            </div>
          </div>   
        </div>
    </div>
    <script>
        $(document).ready(function(){
          $("#buscador_inst").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#body_inst tr").filter(function() {
              $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
          });
        });
    </script>
    <script src="../js/jquery-3.6.1.min.js"></script>
    <script src="../js/CRUD_personal.js"></script>
    <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script> 
</body>
</html>