<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"&amp;gt;>
        <!--CSS-->
        <link rel="stylesheet" href="/css/style_programas_admin.css">
        <link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css">
        <!--Icons-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
        <!-- Extenciones Bootstrap-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
        <title>SENA-Gestor de Materiales</title>
    </head>
    <header th:replace="layout/plantilla_almacen :: header_almacen"></header>
    <body>
        <div class="container" id="info">
            <div class="row">
                <div class="col-12">
                    <h1>Lista de máquinas</h1>
                    <button class="btn btn-secondary mb-3" data-toggle="collapse" data-target="#maquina">Agregar máquina <i class="bi bi-bookmark-plus"></i></button>
                    <div id="maquina" class="collapse">
                        <form>
                            <h4>Complete todos los campos</h4>
                            <label>Nombre:</label>
                            <input type="text" class="form-control mb-2" id="reg_nomb_maqu" placeholder="Ingresar nombre">
                            <label>Serial:</label>
                            <input type="text" class="form-control mb-2" id="reg_seri_maqu" placeholder="Ingresar serial">
                            <label>Placa:</label>
                            <input type="number" class="form-control mb-2" id="reg_plac_maqu" placeholder="Ingresar placa">
                            <label>Adquisición de la máquina:</label>
                            <input type="time" class="form-control mb-2" id="reg_fech_maqu">
                            <input type="submit" class="btn btn-success mt-3 mb-3" value="Registrar" id="reg_maquina">
                        </form>
                    </div>
                    <input class="form-control" id="buscador_ambi" type="text" placeholder="Buscar ambiente..">             
                    <table class="table table-stripe" id="tabla_maqu"> 
                        <thead>
                        <tr>
                            <th>Nombre</th> 
                            <th>Serial</th>
                            <th>Placa</th>
                            <th>Fecha adquisición</th>
                            <th></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody id="body_maqu">
                        </tbody>
                    </table>
                </div>              
            </div>
        </div>
        <div id="editarm" class="modal fade" role="dialog">
            <div class="modal-dialog">
          
              <!-- Modal Programas-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <h3>Completar todos los campos</h3>
                    <div class="container">

                        <form id="formulario_act_maq">
                            <label>Nombre</label>
                            <input type="text" id="edit_nomb_maqu" class="form-control">
                            <label>Serial</label>
                            <input type="text" id="edit_seri_maqu" class="form-control">
                            <label>Placa</label>
                            <input type="number" id="edit_plac_maqu" class="form-control">
                            <label>Adquisición</label>
                            <input type="date" id="edit_adqu_maqu" class="form-control">
                            <input type="hidden" id="edit_id_maqu">
                            <input type="submit" id='cambios_maqu' class="btn btn-success mt-3" value="Realizar cambios">
                        </form>
                    </div>
                </div>
              </div>
          
            </div>
        </div>
        <script>
            $(document).ready(function(){
              $("#buscador_maqu").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#body_maqu tr").filter(function() {
                  $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
              });
            });
        </script>
        <script src="../js/jquery-3.6.1.min.js"></script>
        <script src="../js/CRUD_maquina.js"></script>
        <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script> 
    </body>
</html>