<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"&amp;gt;>
        <link rel="stylesheet" href="/css/style_menu_almacen.css">
        <!--Icons-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
        <!-- Extenciones Bootstrap-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
        <title>SENA-Gestor de Materiales</title>
    </head>
    <!--Barra de navegación-->
    <header th:replace="layout/plantilla_almacen :: header_almacen"></header>
    <body>
        <div class="container" id="info">
            <h1>Elementos Consumibles</h1>
            <div th:classappend="'alert-' + (${clase != null} ? ${clase} : info)" th:if="${mensaje != null}"
                 th:text="${mensaje}"
                 class="alert">
            </div>
            <a href="/almacen/agregar"><button class="btn btn-secondary mb-3">Agregar Articulo <i class="bi bi-bookmark-plus"></i></button></a>
            <input class="form-control" id="buscarel" type="text" placeholder="Buscar articulo">
            <table class="table table table-hover">
                <thead>
                    <tr>
                        <th>Descripción</th>
                        <th>Código</th>
                        <th>Cantidad</th>
                        <th>Medida</th>
                        <th>Observación</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="body_inve">
                    <tr th:each="producto : ${productos}">
                        <td th:text="${producto.descripcionBien}"></td>
                        <td th:text="${producto.codigoSena}"></td>
                        <td th:text="${producto.existenciaAlmacen}"></td>
                        <td th:text="${producto.unidadMedida}"></td>
                        <td th:text="${producto.observacion}"></td>
                        <td>
                            <a class="btn btn-success" th:href="@{/almacen/editar/} + ${producto.id}">Editar <i class="bi bi-pencil"></i></a>
                        </td>
                        <td>
                            <form th:action="@{/almacen/eliminar}" method="post">
                                <input type="hidden" name="id" th:value="${producto.id}"/>
                                <button type="submit" class="btn btn-danger">Eliminar <i class="bi bi-trash"></i>
                                </button>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>    
        </div>
        <div id="editarinve" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal Programas-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <h3>Completar todos los campos</h3>
                        <div class="container">
                            <form id="formulario_act_inv">
                                <label>Nombre</label>
                                <input type="text" id="edit_nomb_inve" class="form-control">
                                <label>Descripcion</label>
                                <textarea class="form-control" id="edit_desc_inve" placeholder="Ingresar descripción"></textarea>
                                <label>Medida</label>
                                <input list="medidas" class="form-control" id="edit_medi_inve">
                                <datalist id="medidas">
                                    <option>Unidad</option>
                                    <option>Pliego</option>
                                    <option>1/2 Pliego</option>
                                    <option>Caja</option>
                                    <option>Kilo</option>
                                    <option>Rollo</option>
                                    <option>Lamina</option>
                                    <option>Galón</option>
                                    <option>Paquete</option>
                                    <option>Metros</option>
                                </datalist>
                                <label>Cantidad</label>
                                <input type="number" id="edit_cant_inve" class="form-control">
                                <label>Estado</label>
                                <input type="number" id="edit_esta_inve" class="form-control">
                                <input type="hidden" id="edit_id_inve">

                                <input type="submit" id='cambios_inve' class="btn btn-success mt-3" value="Realizar cambios">
                            </form>
                        </div>
                    </div>
                </div>   
            </div>
        </div>
        <script>
            $(document).ready(function () {
                $("#buscarel").on("keyup", function () {
                    var value = $(this).val().toLowerCase();
                    $("#body_inve tr").filter(function () {
                        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                    });
                });
            });
        </script>
        <script src="../js/jquery-3.6.1.min.js"></script>
    </body>
</html>
