<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"&amp;gt;>
    <link rel="stylesheet" href="../CSS/style_menu_instructores.css">
    <!--Icons-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <!-- Extenciones Bootstrap-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    <!--JQuery y js-->
    <script src="../js/jquery-3.6.1.min.js" type="text/javascript"></script>
    <title>SENA-Gestor de Materiales</title>
</head>
    <!--Barra de navegación-->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 logo_section">
                    <div class="full">
                        <div class="center-desk">
                        <div class="logo">
                                <img src="../images/logo_cenigraf.png" alt="cenigraf logo" width="300px">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <nav class="navigation navbar navbar-expand-md navbar-dark mr-auto">
                        <div class="collapse navbar-collapse">
                            <ul class="nav navbar-expand">
                                <li class="nav-link">
                                    <div class="dropdown">
                                        <button type="button" class="btn btn-lg dropdown-toggle" data-toggle="dropdown">
                                            Perfil <i class="bi bi-person-circle"></i></i>
                                        </button>
                                        <div class="dropdown-menu">
                                        <a class="dropdown-item">Instructor</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Cerrar Sesion</a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div> 
    </header>
    <body>
        <div class="container" id="info">
            <div class="row">
                <div class="col-12">
                    <h1>Seleccionar el tipo de informe que solicita</h1>
                </div>
                <div class="col-md-6">
                    <button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#infomate" id="infor"><i class="bi bi-box-seam-fill" id="icon-btn"></i><br>Solicitud de materiales</button>                
                </div>
                <div class="col-md-6">
                    <button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#infomant" id="infor"><i class="bi bi-wrench-adjustable-circle-fill" id="icon-btn"></i><br>Solicitud de mantenimiento</button>                
                </div>
            </div>
        </div>
        <div id="infomate" class="modal fade" role="dialog">
            <div class="modal-dialog modal-lg">
          
              <!-- Modal Materiales-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <h3>Seleccionar solicitud</h3>
                    <div class="container">
                        <center>
                        <div class="row">
                            <div class="col-6">
                                <button type="button" class="btn btn-light" data-dismiss="modal" data-toggle="modal" data-target="#solisemanal" id="solicitudmate"><i class="bi bi-calendar2-week-fill" id="icon-btn"></i><br>Solicitud Periodica</button>                
                            </div>
                            <div class="col-6">
                                <button type="button" class="btn btn-light" data-dismiss="modal" data-toggle="modal" data-target="#solianual" id="solicitudmate"><i class="bi bi-calendar3" id="icon-btn"></i><br>Solicitud Anual</button>                
                            </div>
                        </div>
                        </center>
                    </div>
                </div>
              </div>
          
            </div>
        </div>
        <div id="infomant" class="modal fade" role="dialog">
            <div class="modal-dialog modal-lg">
          
              <!-- Modal Materiales-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <h3>Seleccionar ambiente</h3>
                        <center>
                        <div class="row">
                            <div class="col-8">
                                <label for="">Seleccione el ambiente</label>
                                <select name="" class="form-control" id="">
                                    <option value="">Seleccionar</option>
                                </select>
                            </div>
                        </div>
                        </center>
                    </div>
                </div>
              </div>
          
            </div>
        </div>
        <div id="solisemanal" class="modal fade" role="dialog">
            <div class="modal-dialog modal-lg">
          
              <!-- Modal Materiales-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <h3>Formulario solicitud de elementos periodicamente</h3>
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <label for="" >Seleccione el programa de formacion:</label>
                                <select name="" class="form-control" id="progra">
                                    <option value="">Seleccionar</option>
                                </select>
                                <table class="table table-bordered" id="tb_elementos">
                                    <thead>
                                      <tr>
                                        <th class="col-1">Item</th>
                                        <th class="col-5">Nombre del elemento</th>
                                        <th class="col-2">Cantidad</th>
                                        <th class="col-1">U/Medida</th>
                                        <th class="col-4">Descripción</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr>
                                        <td><input class="form-control" type="number" value="1" id="val_inicial" readonly></td>
                                        <td>
                                            <input type="search" class="form-control" placeholder="Buscar elemento" list="lista_elementos">
                                            <datalist id="lista_elementos">
                                                <option value="Audi">
                                            </datalist>
                                        </td>
                                        <td><input type="number" class="form-control"></td>
                                        <td>
                                            <select class="form-control">
                                                <option value="" default hidden></option>
                                                <option value="">Unidad</option>
                                                <option value="">Pliego</option>
                                                <option value="">1/2 Pliego</option>
                                                <option value="">Caja</option>
                                                <option value="">Kilo</option>
                                                <option value="">Rollo</option>
                                                <option value="">Lamina</option>
                                                <option value="">Galón</option>
                                                <option value="">Paquete</option>
                                                <option value="">Metros</option>
                                            </select>
                                        </td>
                                        <td><textarea style="height: 40px;" class="form-control" id=""></textarea></td>
                                    </tr> 
                                    </tbody>                                  
                                  </table>
                                  <button class="btn btn-secondary" onClick="suma_elemento()" id="sumitem">Añadir Item</button><br>
                                  <button class="btn btn-success">Enviar Informe</button>
                                        
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
             </div>
            </div>
        </div>
        <div id="solianual" class="modal fade" role="dialog">
            <div class="modal-dialog modal-lg">
          
              <!-- Modal Materiales-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <h3>Formulario solicitud de elementos anual</h3>
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <label for="" >Seleccione el programa de formacion:</label>
                                <select name="" class="form-control" id="progra">
                                    <option value="">Seleccionar</option>
                                </select>
                                <table class="table table-bordered" id="tb_elementos">
                                    <thead>
                                      <tr>
                                        <th class="col-1">Item</th>
                                        <th class="col-5">Nombre del elemento</th>
                                        <th class="col-2">Cantidad</th>
                                        <th class="col-1">U/Medida</th>
                                        <th class="col-4">Descripción</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr>
                                        <td><input class="form-control" type="number" value="1" id="val_inicial" readonly></td>
                                        <td>
                                            <input type="search" class="form-control" placeholder="Buscar elemento" list="lista_elementos">
                                            <datalist id="lista_elementos">
                                                <option value="Audi">
                                                <option value="Moto">
                                                <option value="Taxi">
                                            </datalist>
                                        </td>
                                        <td><input type="number" class="form-control"></td>
                                        <td>
                                            <select class="form-control">
                                                <option value="" default hidden></option>
                                                <option value="">Unidad</option>
                                                <option value="">Pliego</option>
                                                <option value="">1/2 Pliego</option>
                                                <option value="">Caja</option>
                                                <option value="">Kilo</option>
                                                <option value="">Rollo</option>
                                                <option value="">Lamina</option>
                                                <option value="">Galón</option>
                                                <option value="">Paquete</option>
                                                <option value="">Metros</option>
                                            </select>
                                        </td>
                                        <td><textarea style="height: 40px;" class="form-control" id=""></textarea></td>
                                    </tr>
                                           
                                </tbody>                                      
                                </table>
                                  <button class="btn btn-secondary" id="sumitem">Añadir Item</button><br>
                                  <button class="btn btn-success">Enviar Informe</button>
                            </div>
                        </div>
                    </div>
                </div>
             </div>
            </div>
        </div>
        <script src="../js/prin_intructores.js" type="text/javascript"></script>
    </body>
</html>
